@import "../../styles/variables";

.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .logoContainer {
    img {
      width: 15rem;
    }
  }
  .formContainer {
    margin-bottom: 10rem;
    background-color: $dark-grey;
    padding: 1.5rem;
    border-radius: 1rem;
    header {
      padding: 1rem 0 2rem;
      text-align: center;
      color: #fff;
      font-size: 1.5rem;
    }
    input {
      font-size: 1.15rem;
    }
    button {
      cursor: pointer;
      margin-top: 1rem;
      color: #fff;
      padding: 0.5rem;
      font-size: 1.15rem;
      border-radius: 0.75rem;
      background-color: $primary;
      transition: 250ms;
      &:hover {
        background-color: $secondary;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
    }
    .link {
      color: #fff;
      margin-top: 1rem;
      text-align: center;
      transition: 250ms;
      &:hover {
        color: $primary;
      }
    }
  }
}
