@import "../../styles/variables";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0.75rem;
  input {
    padding: 0.5rem 0.75rem;
    border: 1.5px solid #ddd;
    border-radius: 0.5rem;
    transition: 250ms;
    &:hover {
      border-color: #555;
      box-shadow: 0 2px 10px rgba(#555, 0.2);
    }
    &:focus {
      border-color: $primary;
      box-shadow: 0 2px 10px rgba($primary, 0.2);
    }
  }
}
