* {
  font-family: "Poppins", sans-serif;
}

a,
input,
button,
select,
textarea {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
