@import "./fonts";
@import "./mixins";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root,
html {
  background: $dark;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $terciary;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

input {
  padding: 0.5rem 0.75rem;
  border: 1.5px solid transparent;
  border-radius: 0.5rem;
  transition: 250ms;
  background: darken($grey, 10);
  color: #fff;
  &::placeholder {
    color: #ddd;
  }
  &:hover {
    border-color: #fff;
  }
  &:focus {
    border-color: $primary;
  }
}
