@import "../../styles/variables";

.container {
    width: 80vw;
    height: 70vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        font-size: 17rem;
        color: $secondary;
    }
}

