@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-family: Raleway;
    font-weight: 200;
    color: $light;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .input {
    font-size: 4rem;
    padding: 1rem;
    border-radius: 1.5rem;
    font-family: Poppins;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0.75rem 0 0.5rem $primary;
  }

  .info {
    margin: 5rem;
    border-radius: 1.5rem;
    background-color: #fff;
    padding: 2rem;
    ul {
      list-style: none;
      li {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        span {
          font: {
            family: Raleway;
            size: 1.75rem;
            weight: 700;
          }
        }
        .answer {
          background: aliceblue;
          border-radius: 1rem;
          margin: 0.5rem 0;
          b {
            font-weight: 600;
          }
          display: flex;
          flex-direction: column;
          padding: 1rem;
        }
      }
    }
  }
}
