@import "../../styles/variables";

.container {
  width: 100vw;

  .cards {
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
  }

  .card {
    width: 30rem;
    height: fit-content;
    background-color: $background;
    padding: 1rem;

    .list {
      margin-bottom: 5rem;

      li {
        font-weight: 600;
        list-style: none;
        padding: 1rem;
        border-bottom: 1px solid #ddd;
      }

      span{
        font-size: 1.2rem;
        color: $secondary;
        margin-left: 1rem;
      }
    }
  }

  .card:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .x {
    font-size: 3.5rem;
    margin: 2rem 0;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;

    button {
      padding: 1rem 2rem;
      font-size: 1.3rem;
      border-radius: 1rem;
      color: $light;
      font-family: Poppins;
      font-weight: 200;
      cursor: pointer;
      transition: 100ms;
    }
  }

  .arquivar {
    background-color: #ffb300;

    &:hover {
      background-color: darken(#ffb300, 10%);
    }
  }

  .deletar {
    background-color: $red;

    &:hover {
      background-color: darken($red, 20%); 
    }
  }

  .answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: $background;
    .box {
      padding: 5rem;
    }

    table {
      margin-top: 2rem;
      background: #fff;
      border-radius: 1rem;
      box-shadow: 0 10px 50px #0001;
      border-collapse: collapse;
      padding: 3rem;
      thead {
        text-align: left;
        background: rgb(244, 247, 248);
        color: #0009;
        font-weight: 600;
        padding: 10px 15px;
      }
      td {
        padding: 12px 20px;
      }
      tbody tr {
        cursor: pointer;
        transition: 250ms ease;
        color: #0009;
        &:hover {
          background: $light;
          color: $primary;
        }
      }
    }
  }
}
