@import "../../styles/variables";

.container {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: aliceblue;
  margin-bottom: 2rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      gap: 1rem;
    }

    input {
      font-size: 1.2rem;
      padding: 0.75rem 1rem;
      background: #fff;
      border-radius: 0.5rem;
      transition: 250ms;

      &:focus {
        background-color: darken($color: aliceblue, $amount: 1.5);
        box-shadow: 0 1px 10px #0001;
      }
    }
  }

  .changeMode {
    cursor: pointer;
    transition: 250ms;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    padding: 0.75rem;
    background: #fff;
    font-size: 1.2rem;
    color: $primary;

    &:hover {
      background-color: darken($color: aliceblue, $amount: 1.5);
      box-shadow: 0 1px 10px #0001;
    }
  }

  .options {
    margin-top: 2rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }

    input {
      background: transparent;
      font-size: 1.2rem;
    }
  }
}

.paragraph {
  margin-top: 2rem;

  textarea {
    resize: vertical;
    font-size: 1.1rem;
    width: 100%;
    padding: 0.75rem 1rem;
    background: #fff;
    border-radius: 0.5rem;
    transition: 250ms;
  }
}

.icon {
  color: $primary;
}
